
.header-content {
    background-color: #f4f7f9;
    height: 280px;
}
.header-holder  {                                           /* Header */
    margin:0 auto;
    background-color: #293449;
    display: flex;
    align-content: center;
}
.holder-box {
    width:200px;   
}
.holder-content {
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.header-logo {
    display: flex; 
    margin-left: 150px;
    background-color: #ee3643; 
    width: 200px;
}
.header-logo  a {
    margin-left: 35px;  
    margin-top: 10px;
}
.search {
    display: flex;
    color:#fff;
    font-size: 15px;
    font-family: "Cuprum", sans-serif; 
}
.search input:focus {
    border-color:red;
}

.header-navigation li,
.header-navigation li a {
    list-style: none;
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    font-family: "Cuprum", sans-serif;
    padding: 10px;
}
ul.header-navigation {
    display: flex;
    padding-left: 550px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header-navigation a:hover,
.header-navigation a:focus {
    color:#ffd180;
}
.button-head {
    background-color:#63a63e;
}
.button-head-2 {
    background-color: #ee3643;
}
.block-user {
    display: flex;
}

.user-login  {
    text-decoration: none;
    color:black;
    font-family: "Cuprum", sans-serif;
    font-size:16px;
    font-weight: 600;
    margin-right:10px;
    margin-top:15px; 
    background-color: #fff;
    width:150px;
    height:30px;
    padding-right: 30px;
    padding-left:30px;
    padding-top: 10px;
}

.block-user a {
    text-decoration: none;
    color:black;
    font-family: "Cuprum", sans-serif;
    font-size:16px;
}
ul.user-activity {
    display: flex;
    margin-top:50px;
    margin-left:-250px;
}
ul.user-activity li {
    display: flex;
    font-weight: 700;
    font-size: 13px;
    padding:7px;
    font-family: "Cuprum", sans-serif;
}
.user-activity a:hover,
.user-activity a:focus {
    color:green;
}
.holder-content {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
}
.holder-box h1  {
    display: flex;
    font-family: "Cuprum",sans-serif;
    font-size: 16px;
    color: rgb(238, 54, 67);
    font-style: italic;
    width: 180px;   
    margin-top: 20px;
}

.header-tell  {
    font-size: 14px;
    font-family: "Cuprum",sans-serif;
    color:rgb(50, 66, 92);
    list-style: none;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 25px;
}
.header-tell address {
   padding-top: 5px;
    
}
.header-tell a {
    list-style: none;
    text-decoration: none; 
    color: rgb(238, 54, 67);
    font-family: "Cuprum",sans-serif;
    font-size: 21px;
    border: 3px solid #fff;
    padding-right: 60px;
    padding-left: 50px;
    padding-top: 5px;
}

ul.user-navigation {
    display: flex;
    font-family: "Cuprum",sans-serif;
    font-size: 18px;    
    
}
.user-navigation button {
    display: flex;
    color: black; 
    width: 130px;
    margin: 15px;  
} 
.user-navigation button:hover,
.user-navigation button:focus {
    border:1px solid blue;
}   
.button-one {
    padding-left: 55px;
    background-color: #fff;
}

.button-two {
    padding-left: 20px;
    background-color: #fff;
}

ul.site-navigation{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 70px;
}
ul.site-navigation a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color:#fff;
    font-size: 18px;
    font-family: "Cuprum",sans-serif;
    justify-content: center;
    padding-left: 65px;
    padding-right: 43px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #32425c;  
}
.site-navigation a:hover,
.site-navigation a:focus {
    color:#ffd180;
}
ul.category {
    display: flex;
    list-style: none;
    margin-left:150px;
}
ul.category li {
    padding: 15px;
}
ul.category a {
    text-decoration: none;
}
.category a:hover,
.category a:focus {
    background-color: green;
    color:#fff;
}
 
                                                /* Main */
.main {
    display: flex;
    justify-content: flex-start;
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    margin-left:180px;
    margin-right: 150px;
    background-color:#f4f7f9;
    padding:20px; 
}

.main-filter2 {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
}

.main-filter2 li{
    list-style: none;
}
.main-filter2 input {
    margin-left:-20px;  
}
.form-button {
    text-transform:uppercase;
}
.sidebar-left {
    margin-left:180px;
    width: 150px;
}
.sidebar-left button {
    border-radius: 5px 5px 5px 5px;
}                                               
.container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin:0 auto;
}
.catalog-list {
    list-style: none;
    margin-top: -290px;
    margin-right:150px;
}
.catalog-list li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
    padding-right: 10px;
}
.catalog-item-price a:hover,
.catalog-item-price a:focus {
    background-color: blue;
    color:#fff;
}
.block-item {
    display: flex;
}
.block-item-2 {
    display: flex;
}
.block-item-3 {
    display: flex;
}
.main-company {
   display: flex;
   margin: 0 auto;
   justify-content: center;
}
.main-company-left h2,
.main-company-right h2 {
    font-size: 30px;
    font-family: "Cuprum", sans-serif; 
}

.main-company-left {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    word-break: break-all;
    width: 500px;
}

.main-company-right {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
}

ul.main-holder-company li {
    font-size: 16px;
    font-weight: 700;
    padding-top: 10px; 
}

.button-3 {
   background-color: #ee3643;
   color:#fff;
   border-radius: 6px 6px 6px 6px; 
   width: 200px;
   height: 35px;
   margin-top:2px;
}
.button-3:hover,
.button-3:focus,
.button-3:active {
    background-color: #32425c;
}

.button-4 {
   background-color: #ee3643;
   color:#fff; 
   border-radius: 6px 6px 6px 6px;
   width: 270px;
   height: 35px;
}
.button-4:hover,
.button-4:focus,
.button-4:active {
   background-color: #32425c; 
}
                                                            /* Footer */ 

.footer-section-a {
    margin: 0 auto;
    margin-top:50px;    
    background-color: #32425c;
    display: flex;
    color:#fff;
    font-family: "Cuprum", sans-serif;
    justify-content: space-around;
}
.footer-section-b {
    margin: 0 auto;
    background-color:#293449 ;
    display: flex;
    color:#fff;
    font-family: "Cuprum", sans-serif;
    justify-content: space-around;
}

.footer-logo {
    display: flex; 
    background-color: #ee3643; 
    width: 200px;
    height: 50px;
    border-bottom: 5px solid #612215;
}
.footer-logo img {
    padding-top:15px;
    padding-left:30px;
}
.footer-contact {
    margin-top:70px;
    margin-left:-500px;  
}
.footer-contact a,
.footer-contact address {
    color:#fff;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size:14px;
}
.footer-contact a:hover,
.footer-contact a:focus {
    color:#ffd180;
}
.footer-list {
    margin-right: 80px;
    margin-bottom: 30px;
    margin-top: 20px;
}
ul.footer-navigation  {
    display: flex;
}
ul.footer-navigation li {
    list-style: none;
    padding-left: 60px;
}
ul.footer-navigation a {
    color: #fff;
    text-decoration: none;    
}
.footer-navigation a:hover,
.footer-navigation a:focus {
    color:blue;
}

ul.footer-navigation-list {
    display: flex; 
}
ul.footer-navigation-list li {
    list-style: none;
    padding-left: 70px;
}
ul.footer-navigation-list a {
    color:#ffd180;
    text-decoration: none;
}
.footer-navigation-list a:hover,
.footer-navigation-list a:focus {
    color:blue;
}
.footer-a {
    display: flex;
    flex-basis: 240px;
}
.footer-social {
    display: flex;
    list-style: none;
}
.footer-social a {
    text-decoration: none;
    color:#fff;
    padding: 5px;
}
.footer-c {
    display: flex;
    flex-basis: 20px;
}
.footer-c a {
    text-decoration: none;
    color:#ffd180; 
}
.footer-c a:hover,
.footer-c a:focus {
    color:#fff;
}
.footer-d {
    display: flex;
    flex-basis: 100px;
}
.footer-d a {
    text-decoration: none;
    color:#ffd180; 
}
.footer-d a:hover,
.footer-d a:focus {
    color:#fff;
}


